/* cyrillic-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/ODszJI8YqNw8V2xPulzjO_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/iQ9VJx1UMASKNiGywyyCXvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/WkvQmvwsfw_KKeau9SlQ2_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/gYAtqXUikkQjyJA1SnpDLvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/Wu5Iuha-XnKDBvqRwQzAG_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	margin:0;
	padding:0;
	height:100%;
}
@media screen and (max-width:1800px) {
.wrapper {
	width: 1350px;
	margin: 0 auto;
}
}
td {
font-family: 'Ubuntu', sans-serif;
width:80px;
text-align:left;
	}
.login{
	margin-top:50px;
	padding:10px;
	width:32%;
	height:200px;
	margin-right: auto;
	margin-left: auto;
	clear:both;
	background-color:#CCDDB9;
	box-shadow: 17px 24px 84px -25px rgba(0,0,0,0.75);
	border-radius: 45px 0px 45px 0px;
	}
.Title {
	text-align: center;
	font-weight:bold;
	font-size:20px;
	}
.user_auth{
	float:left;
	margin-top: 25px;
	background:url(../image/users-icons.png) no-repeat;
	background-size:130px;
	width:140px;
	height:140px;
	}
.login_input{
	float: right;
	margin-top: 25px;
	font-family: 'Ubuntu', sans-serif;
	}
.input_text{
	box-shadow: inset 1px 2px 10px -5px rgba(0,0,0,0.75);
	width:195px;
	height:25px;
	font-size:16px;
	text-indent: 3px;
	font-family: 'Ubuntu', sans-serif;
	}
.error_message {
	width:73%;
	height:50px;
	border:1px solid red;
	margin-top:150px;
	margin-left: 65px;
	border-radius: 10px 0px 10px 0px;
    font-family: 'Ubuntu', sans-serif;
	background-color:rgba(251, 198, 199, 0.6);
	}
.error_message #text{
	margin-left:70px;
	margin-top:15px;
	color: rgb(255, 89, 89)
	
	}
	input[type=submit]{
		font-family: 'Ubuntu', sans-serif;
		clear: both;
		padding-right: 5px;
		}
