

.clearfix {
	zoom: 1;
}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

/**
table warp
**/
.hideOverflow{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
td>.label{
    
    float: left;
    display: block;
}

  #example.table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #d4d4d4;
  }

  span.brand-label.label {
      display: inherit;
      margin-top: 6px;
      font-size: 14px;
      border-radius: 1px;
      width: 100%;
  }
  span.label.status-label {
      border-radius: 3px;
      width: 70%;
      display: block;
      padding: 6px 0px;
      font-size: 15px;
      margin: auto;
  }

  select#currencey {
      width: 75px;
      padding-right: 0px;
  }



  body {
      font-family: 'Roboto', sans-serif !important;
      font-size: 16px !important;
  }

  .box-admin-button.box-header.with-border {
      margin-bottom: 10px;
      padding-top: 20px;
  }
  .btn.user-admin-btn {
      padding-right: 10.5%;
      margin-left: 12px;
      margin-bottom: 12px;
      text-align: center;

  }
  .deposit-admin-btn {
      margin-right: 5px;
      margin-top: 3px;

  }
  .div-admin-btn{

      position: relative;
      text-align: center;
  }

  span.label.total-label {
      border-radius: 3px;
      width: 200px;
      display: block;
      font-size: 15px;
      margin: auto;
      margin-bottom: 10px;
      background-color: #3c8dbc !important;
  }

  button.edit-deposit-btn {
      margin-top: 10px;
  }

  .filter-admin-btn{
      margin-right: 5px;
      margin-top: 3px;
      width: 120px;
  }

  .ftd-check {
      padding: 0 0 0 31%;
      font-size: 20px;
  }

  .btn-timewatch {
      margin-top: 10px;
      margin-right: 5px;
  }

  .shiftWatch {
      margin-top: 14px;
      margin-right: 25px;
      font-size: 18px;
      color: #fff;
  }

  .filter-label {
      font-size: 14px !important;
  }

  /*for big screen*/
  @media screen and (min-width: 992px) {

      span.label.total-label {
          float: right;
          width: 13%;
      }
      button#searchBTN {

          float: right;
          width: 110px;
          font-size: 18px;
      }

      .navbar-nav>.user-menu>.dropdown-menu {

          width: 130px !important;
      }

      a.btn.btn-default.btn-dropdown-user.btn-flat {
          margin-bottom: 3px;
      }
      .btn-group>.btn+.dropdown-toggle{

          height: 34px;
      }

      .main-sidebar {

          -webkit-transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
          -moz-transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
          -o-transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
          transition: all 100ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
          position: fixed;
      }

      .main-sidebar-fixed {

          margin-top: -50px;
      }


  }
  /*for iphone*/
  @media screen and (max-width: 991px){

      button#searchBTN {
          display: block;
          margin: auto;
          width: 100%;
          font-size: 18px;
      }

      .btn-group>.btn+.dropdown-toggle{

          height: 28px;
      }
  }


  .content {
      opacity: 1;
      transition: 1s opacity;
  }
  .content.fade-out {
      opacity: 0;
      transition: none;
  }
  /*base code*/
  .animated {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
  }
  .animated.infinite {
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  }
  .animated.hinge {
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes slideInUp {
      0% {
          -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  @keyframes slideInUp {
      0% {
          -webkit-transform: translate3d(0, 100%, 0);
          -ms-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  .slideInUp {
      -webkit-animation-name: slideInUp;
      animation-name: slideInUp
  }

  /*the animation definition*/
  @-webkit-keyframes slideInLeft {
      0% {
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  @keyframes slideInLeft {
      0% {
          -webkit-transform: translate3d(-100%, 0, 0);
          -ms-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  .slideInLeft {
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft
  }

  /*the animation definition*/
  @-webkit-keyframes slideInDown {
      0% {
          -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  @keyframes slideInDown {
      0% {
          -webkit-transform: translate3d(0, -100%, 0);
          -ms-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
          visibility: visible
      }
      100% {
          -webkit-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0)
      }
  }
  .slideInDown {
      -webkit-animation-name: slideInDown;
      animation-name: slideInDown
  }

  .info-box.supportBox {

      height: 185px;

  }

  .supportBox .info-box-icon{

      height: 185px;
      font-size: 55px;
      padding-top: 69px;
  }
.supportBox hr {

    border-top: 1px solid rgba(0,0,0,.075);
}

  /* Sink */
  .hvr-sink {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
  }
  .hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
  }

  /* Bob */
  @-webkit-keyframes hvr-bob {
      0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
      50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
      }
      100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
  }
  @keyframes hvr-bob {
      0% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
      50% {
          -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
      }
      100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
  }
  @-webkit-keyframes hvr-bob-float {
      100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
  }
  @keyframes hvr-bob-float {
      100% {
          -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
      }
  }
  .hvr-bob {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
      -webkit-animation-name: hvr-bob-float, hvr-bob;
      animation-name: hvr-bob-float, hvr-bob;
      -webkit-animation-duration: .3s, 1.5s;
      animation-duration: .3s, 1.5s;
      -webkit-animation-delay: 0s, .3s;
      animation-delay: 0s, .3s;
      -webkit-animation-timing-function: ease-out, ease-in-out;
      animation-timing-function: ease-out, ease-in-out;
      -webkit-animation-iteration-count: 1, infinite;
      animation-iteration-count: 1, infinite;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal, alternate;
      animation-direction: normal, alternate;
  }

  /* Overline Reveal */
  .hvr-overline-reveal, .depositSinceLogin {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      position: relative;
      overflow: hidden;
  }
  .hvr-overline-reveal:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background: rgba(119, 119, 119, 0.89);
      height: 34px;
      -webkit-transform: translateY(-34px);
      transform: translateY(-34px);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
  }
  .hvr-overline-reveal:after {

      top: 0px;
  }
  .hvr-overline-reveal:hover:before, .hvr-overline-reveal:focus:before, .hvr-overline-reveal:active:before{
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }

  .depositSinceLogin{
      display: none;

  }

  .hvr-overline-reveal:hover .depositSinceLogin{

      opacity:1;
      display:block;
      padding:6px 30px;
      position:absolute;
      -webkit-animation:fade-in 0.8s 1;
  }

  @-webkit-keyframes fade-in{
      0%{
          opacity:0;
          top:0px;
      }
      100%{
          opacity:1;
          top:0px;

      }
  }
  .dt-buttons {
      position: static;
  }
  div.dt-button-collection.fixed.two-column {
      margin-left: -150px
  }
  div.dt-button-collection.fixed.three-column {
      margin-left: -225px
  }
  div.dt-button-collection.fixed.four-column {
      margin-left: -300px
  }
  div.dt-button-collection>* {
      -webkit-column-break-inside: avoid;
      break-inside: avoid
  }
  div.dt-button-collection.two-column {
      width: 300px;
      padding-bottom: 1px;
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -ms-column-count: 2;
      -o-column-count: 2;
      column-count: 2
  }
  div.dt-button-collection.three-column {
      width: 450px;
      padding-bottom: 1px;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -ms-column-count: 3;
      -o-column-count: 3;
      column-count: 3
  }
  div.dt-button-collection.four-column {
      width: 600px;
      padding-bottom: 1px;
      -webkit-column-count: 4;
      -moz-column-count: 4;
      -ms-column-count: 4;
      -o-column-count: 4;
      column-count: 4
  }
  div.dt-button-collection {
      position: absolute;

      box-shadow: none ;
      border-color: #eee;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      min-width: 160px;
      margin: 2px 0 0;
      font-weight: 400;
      text-align: left;
      list-style: none;
      white-space: nowrap;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

  div.dt-button-collection a.dt-button {

      color: #777;
      padding: 3px 20px;

  }
  div.dt-button-collection a.dt-button:hover{
      background-color: #e1e3e9;
      color: #333;

  }
  div.dt-button-collection button.dt-button,
  div.dt-button-collection div.dt-button,
  div.dt-button-collection a.dt-button {

      position: relative;
      left: 0;
      right: 0;
      display: block;
      margin-right: 0
  }

  div.dt-button-collection button.dt-button:active:not(.disabled),
  div.dt-button-collection button.dt-button.active:not(.disabled),
  div.dt-button-collection div.dt-button:active:not(.disabled),
  div.dt-button-collection div.dt-button.active:not(.disabled),
  div.dt-button-collection a.dt-button:active:not(.disabled),
  div.dt-button-collection a.dt-button.active:not(.disabled) {
  }
  a.dt-button.active::before{
      padding-right: 10px;
      font-family: "FontAwesome";

  }
  div.dt-button-collection a.dt-button.active::before {
      content: "\f00c";

  }


  div.dt-button-collection.fixed {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-left: -75px;
      border-radius: 0
  }


  /* new style */
  .bg-blue {
      background-color: #67BCDB!important;
  }

  .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
      background-color: #78ab58!important;
  }

  .bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
      background-color: #ca605d !important;
  }

  .bg-orange {
      background-color: #D9853B!important;
  }

  .info-box {
      display: block;
      min-height: 90px;
      background: #fff;
      width: 100%;
      box-shadow: 2px 2px 10px 0px #a09d9d;
      border-radius: 2px;
      margin-bottom: 15px;
  }

.btn-info {
    background-color: #67BCDB;
    border-color: #00acd6;
}

.btn-success {
    background-color: #78ab58;
    border-color: #37a773;
}

.btn-danger {
    background-color: #ca605d;
    border-color: #d86354;
}

  .skin-red-light .main-header .navbar {
      background-color: #ca605d !important;
  }

  body {

      line-height: 1.42857143;
  }

  .box {
      position: relative;
      border-radius: 3px;
      background: #ffffff;
      border-top: 3px solid #d2d6de;
      margin-bottom: 20px;
      width: 100%;
      box-shadow: 0px 4px 14px 3px rgba(0,0,0,0.1);
  }

.fix-select .select2 {

    width: 100% !important;
    border-radius: 0px;
}

.user-logo {

    color: white;
}

.fa-3 {

    font-size: 2em;
}

.label {

    -webkit-box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.2) ;
    box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.2) ;
}

.form-group {
    margin-bottom: 5px;
}

.btn-table {
    margin-left: 10px;
    margin-top: 0px;
}
